@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend:wght@500&family=Libre+Franklin:wght@100&family=Open+Sans&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.plutonication__component{
  margin: 0;
  padding: 1rem;
  width: 320px;
  background-color: #0e1110;
  color: rgb(36, 37, 41);
  font-size: 16px;
  line-height: 26px;
  border: 1px solid white;
  border-radius: 1rem;

  .plutonication__qr-title,
  .plutonication__social-media-container p,
  .plutonication__wallets-container p,
  .plutonication__wallets-item-description {
    margin: 0;
    color: white;
    // padding-bottom: 1rem;
    // font-size: 1rem;
    // font-weight: bolder;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Inter', sans-serif;
    // font-family: 'Lexend', sans-serif;
    // font-family: 'Libre Franklin', sans-serif;
    // font-family: 'Open Sans', sans-serif;
  }

  .plutonication__qr-container {
    text-align: center;
    background-color: #0e1110;
    border-radius: 1rem;

    div:first-child {
      display: flex;
      justify-content: center;

      p {
        width: 280px;
        margin-left: 1.3rem;
      }

      span {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;

        &:hover {
          cursor: pointer;
          color: white
        }
      }

    }

    .plutonication__qr-title-container {
      display: flex;
      justify-content: space-between;
    }

    .plutonication__qr-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .plutonication__qr-code {
        border: 2px solid #020727;
        background-color: #0e1110;
        border-radius: 1rem;
        margin: 1rem;

        img {
          height: 200px;
          width: 200px;
          border-radius: 10px;
          display: block;
          margin: auto;
          background-color: white;
        }
      }
    }
  }

  .plutonication__wallets-container {
    border-top: none;
    padding: 1rem 0;

    p {
      font-size: 0.7rem;
    }

    // .plutonication__wallets-btn-container {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    //   // margin: 0 0.7rem;
    //   height: 200px;

    //   .plutonication__wallets-btn-download {
    //     border-radius: 0.5rem;
    //     background: #393939;
    //     color: white;
    //     padding: 0.4rem;

    //     &:hover {
    //       cursor: pointer;
    //     }
        
    //     .plutonication__wallets-btn-content {
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       width: 140px;

    //       img {
    //         margin-right: 0.3rem;
    //       }

    //       .plutonication__wallets-btn-p1 {
    //         font-size: 0.7rem;
    //         text-align: justify;
    //       }

    //       .plutonication__wallets-btn-p2 {
    //         font-size: 0.9rem;
    //         text-align: justify;

    //       }
    //     }
    //   }

    // }
  
    .plutonication__wallets-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); 
      column-gap: 0.5rem;
      row-gap: 0.5rem;

      .plutonication__wallets-item,
      .plutonication__wallets-item-plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        padding-top: 0.4rem;
        // padding: 0.5rem 0.5rem;
        
        background-color: #393939;
        border-radius: 10px;

        .plutonication__wallets-item img {
          // width: 50px; 
          // height: 50px;
          border-radius: 1rem;
        }

        #showMoreWallets img {
          // width: 30px; 
          // height: 30px;

        }

        .plutonication__wallets-item-description {
          display: block;
          text-align: center;
          font-size: 0.65rem;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 70px;
        }
      
        .plutonication__wallets-item-description:hover {
          white-space: normal;
          width: auto;
        }
      }

      .plutonication__wallets-item-hidden {
        display: none;
      }

      // .plutonication__wallets-item:nth-child(4) {
      //   padding-top: 0;
      // }

      div:hover {
        cursor: pointer;
      }
    }
  }

    .plutonication__wallets-btn-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // margin: 0 0.7rem;
      height: 200px;

      .plutonication__wallets-btn-download {
        border-radius: 0.5rem;
        background: #393939;
        color: white;
        padding: 0.4rem;
        border-color: #393939;

        &:hover {
          cursor: pointer;
        }
        
        .plutonication__wallets-btn-content {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 140px;

          img {
            margin-right: 0.3rem;
          }

          .plutonication__wallets-btn-p1 {
            font-size: 0.7rem;
            text-align: justify;
          }

          .plutonication__wallets-btn-p2 {
            font-size: 0.9rem;
            text-align: justify;

          }
        }
      }

    }

  .plutonication__social-media-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > a:first-of-type {
      text-decoration: none;
      color: white
    }
  
    a {
      margin-left: 1rem;
    }
  }
}
