<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>QR Code Generator</title>
  <link rel="stylesheet" href="../../styles/welcome.css">
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <script type="module" src="./PlutonicationQrPopUp.js"></script>
</head>

<body>
  <div class="user-input-section">
    <section class="heading">
      <div class="title">QRcodes</div>
      <div class="sub-title">Generate QRCode for anything!</div>
    </section>
    <section class="user-input">
      <!-- <input type="text" placeholder="Type something..." name="input_text" id="input_text" autocomplete="off"> -->
      <button class="button" type="submit">Generate<i class="fa-solid fa-rotate"></i></button>
    </section>
  </div>
  <div class="qr-code-container">
    <div class="qr-code" style></div>
  </div>

  <!-- <script src="./PlutonicationQrPopUp.js"></script> -->
</body>
</html>
