:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae6e5;
  background-color: #2b303a;
  height: 100vh;
}
@media screen and (max-width: 50em) {
  body {
    flex-direction: column;
    height: 100%;
  }
}
body .heading {
  margin: 3rem 0 5rem 0;
}
body .title,
body .sub-title {
  font-size: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #12130f;
  color: #eee5e9;
}
body .sub-title {
  font-size: 1.5rem;
  color: #eee5e9;
  opacity: 0.5;
}
body .user-input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 50em) {
  body .user-input-section {
    width: 100%;
    margin: 2rem 0 0 0;
  }
}
body .user-input-section .user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body .user-input-section .user-input label {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
body .user-input-section .user-input input {
  width: 80%;
  max-width: 35rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #9b8774ad;
  background-color: #7c7c7c;
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 1rem 1rem 2rem 1rem;
  color: black;
}
body .user-input-section .user-input input::placeholder {
  color: #eee5e9;
  color: #2b303a;
}
body .button {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  background-color: #5b92799d;
  background-color: #92dce5;
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}
body .button i {
  margin-left: 1rem;
}
body .qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 50em) {
  body .qr-code-container {
    width: 100%;
    margin: 8rem 0;
  }
}
body .qr-code-container .qr-code {
  display: flex;
  border-radius: 1rem;
  background-color: #7c7c7c33;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
body .qr-code-container .qr-code button {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: #eae6e5;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 2.5rem;
  border-radius: 1rem;
}
body .qr-code-container .qr-code button a {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #eae6e5;
  padding: 1rem;
}
body .qr-code-container .qr-code button a i {
  margin-left: 0.5rem;
}
.welcome__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #88000000 !important;
  z-index: 10;
  transition: background 0.3s ease, opacity 0.3s ease; 
}

.overlay.active {
  background: rgba(64, 64, 64, 0.7); 
  opacity: 1; 
  pointer-events: auto; 
}

.welcome__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__btn {
  background-color: #f0f0f0;
  padding: 0.5rem;
  color: rgb(14, 16, 16);
  font-weight: 500;
  font-family: 'Lexend', serif;
  border-radius: 0.3rem;
  transition: transform 0.2s ease;
}

.welcome__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.welcome__QR-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 3.5rem;
  background-color: rgb(24, 27, 26);
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
}

.welcome__QR-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome__QR-show {
  opacity: 0;
  transform: scale(0.8);
}

.welcome__QR {
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
}

.welcome__QR-text, .welcome__QR-text-connected {
  text-align: center;
  margin: 0;
}

.welcome__QR-text-connected {
  margin-top: 3.125rem;
}

.welcome__QR-headaer {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.welcome__QR-text-container {
  display: inline;
  position: relative;
  top: 4.2rem;
  z-index: 1;
}

.welcome__QR-back-arrow {
  display: inline;
  position: relative;
  left: 3rem;
  top: 2.8rem;
  z-index: 1;
  transition: transform 0.4s ease;
}

.welcome__QR-back-arrow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.welcome__QR-text-button-container {
  position: relative;
  bottom: 2.2rem;
  z-index: 1;
}


.welcome__btn-close {
  color: #FFF;
  left: 5rem;
  position: relative;
  background-color: rgb(24, 27, 26);
  border: none;
  transition: transform 0.4s ease;
}

.welcome__btn-close:hover {
  transform: scale(1.1);
  cursor: pointer;
}



@media (max-width: 767px) {
  .welcome__QR-headaer {
    font-size: 1.5rem;
  }
  .welcome__QR-text-container, .welcome__QR-container, .welcome__QR-text, .welcome__QR-back-arrow {
    display: none;
  }
}